/* Variables */
:root {
  --primary-main-color: #81BF45;
  --primary-dark-color: #256320;
  --primary-light-color: #EBFFD9;

  --black: #060D00;
  --white: #FBFBFB;
  --gray-main: #9E9E9E;
  --gray-dark: #525252;
  --gray-light: #F2F2F2;
}