@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 16px;
    font-family: "Hind Madurai", serif;
}

.HindMadurai-Light{
    font-family: "Hind Madurai", serif;
    font-weight: 300;
}
.HindMadurai-Regular{
    font-family: "Hind Madurai", serif;
    font-weight: 400;
}
.HindMadurai-Medium{
    font-family: "Hind Madurai", serif;
    font-weight: 500;
}

.Montserrat-Regular{
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.Montserrat-Medium{
    font-family: "Montserrat", serif;
    font-weight: 500;
}

.Montserrat-SemiBold{
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.Montserrat-Bold{
    font-family: "Montserrat", serif;
    font-weight: bold;
}

img {
    @apply max-w-full max-h-full

}